body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.reveal {
  height: 75vh !important;
}

.examples {
  min-height: 75vh;
}

input {
  margin: 16px 0;
}

.header {
  position: sticky;
  top: 0;
  background-color: white;

  z-index: 1;
}

.genshin-cards-icons {
  display: flex;
  flex-flow: wrap;

  position: relative;
}

.genshin-cards-icons > div {
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 0.25rem;
  margin: 0.125rem;
}

.genshin-cards-icons .card-info p {
  margin: 0;
}

.genshin-cards-icons img {
  border-radius: 0.25rem;
}

.genshin-cards-icons .selected {
  border: 1px solid lightsalmon;
}

.genshin-cards-icons .unselected {
  border: 1px solid white;
}